.container {
  background: teal;
  border: 4px solid midnightblue;
  width: 400px;
  height: 300px;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.box {
  background: yellowgreen;
  font-weight: bold;
  text-align: center;
  border: 6px solid white;
  width: 80px;
  height: 80px;
}

