.container {
  background: teal;
  border: 4px solid midnightblue;
  width: 400px;
  height: 300px;
}

.box {
  background: yellowgreen;
  font-weight: bold;
  text-align: center;
  border: 6px solid white;
  width: 80px;
  height: 80px;
}

